# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
venv/
.env

# Django
staticfiles/
media/resumes/*
media/certificates/*
media/qr_codes/*
!media/resumes/.gitkeep
!media/certificates/.gitkeep
!media/qr_codes/.gitkeep

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid